doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    // [if lte IE 9]
    script(type="text/javascript",src="/js/html5shiv.js")
    // [endif]
    block head
  body
    block content